.footerNew{
    background-image: linear-gradient(to left, rgb(5, 5, 5), rgb(68, 67, 60));
    color: rgb(220, 226, 232);
    text-align: center;
}
                        
.divFooter{
    a{
    list-style-type: none;    
    display: block;
    color: rgb(220, 226, 232);
    }
}