
.colorBarra{
    color: map-get($colors, colorLetra ) !important;
}
.fondo-nav{
    color: map-get($colors , colorLetra );
    background-image: linear-gradient(to left, map-get($colors, colorGeneral))   
}

.imagenInicio{
    @include flex (flex, center)
}

.fondoMain{
    background-image: linear-gradient(to left, map-get($colors,colorGeneral));
}

.imagenLogo{
    width: 100px;
    height: 50px;
    &:hover{
        width: 120px;
    height: 75px;
}
}
