
#introduccion{
    background-image: linear-gradient(to left, map-get($colors,colorGeneral));
    color: map-get($colors, colorLetra );
    font-size: 20px;
    font-family: map-get($fonts, fontPrincipal );
    text-align: start;
    line-height: 30px;  
    margin: 0px;
    padding: 80px;
}
