#introduccion{
    background-image: linear-gradient(to left, $colorGeneral);
    color: $colorLetra;
    font-style: normal;
    font-size: 20px;
    font-weight: 500px;
    padding: 40px;
    font-family:$colorTexto;
    text-align: center;
    line-height: 30px;  
    margin: 0px 0px 0px 0px;
}